body {
    padding: 10vh 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info {
    margin-bottom: 8vh;
}

.row {
    display: flex;
    justify-content: center;
    margin: -16px;
}

.top {
    width: 0;
    border-bottom: 15px solid transparent;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
}

.bottom {
    width: 0;
    border-top: 15px solid transparent;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
}

.middle {
    width: 52px;
    height: 30px;
}